.main {
    width: 1440px;
    margin: 0px auto;
    padding-top: 13px;
    background-color: white;
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

body {
    background: rgb(230, 230, 230);
    margin: 0px;
}



/* ----------- Заголовок -------------- */
.header {
    position: relative;
}

#logo {
    position: absolute;
    top: 72px;
    left: 40px;
}

a {
    text-decoration: none;
}

hr {
    color: white;
    border: none;
    border-bottom: .1px solid black;
    margin-top: 11px;
    margin-bottom: 20px;
}

.upper-header, .lower-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}


.upper-header-links {
    gap: 63px;
}

.lower-header-links {
    gap: 72px;
}

.lower-header-partners {
    justify-self: end;
}

.upper-header-language {
    gap: 49px;
    justify-self: end;
    
}
/* ----------- Заголовок -------------- */


/* ------- Основная часть ------------ */

.content {
    display: grid;
    grid-auto-flow: row;
}

.first-row {
    gap: 40px;
}

.second-row {
    position: relative;
    height: 650px;
}

.third-row {
    display: grid;
    grid-template-columns: 390px auto;
    align-items: end;
}

.forth-row {
    margin-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
}

.fifth-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 40px;
    margin-left: 40px;
}

.text-block {
    padding-top: 31px;
    padding-left: 32px;
}

.pic-with-text {
    position: relative;
    background-color: #F87200;
}

.annotation-for-pic {
    position: absolute;
    top: 13px;
    left: 24px;
    font-size: 36px;
}

.link-for-pic {
    position: absolute;
    top: -12px;
    right: 48px;
    font-size: 12px;
    background-color: #E8E9EA;
    padding: 6px;
}

.calculator {
    position: absolute;
    top: 132px;
    left: 206px;
    z-index: 10;
}

.text-calculator {
    position: absolute;
    width: 480px;
    height: 204px;
    border: 1px solid black;

    padding: 57px 53px;

    top: 294px;
    right: 195px;
}

.decorated-link {
    font-size: 16px;
    padding-bottom: 13px;
    border-bottom: 1px solid orange;
}
/* ------- Основная часть ------------ */